body{
    background-image: url("../IMG/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

section {
    display: none;
}

#inicio {
    display: block;
}

section:target {
    display: block;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color:  #B57EDC;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: sticky;
    top: 0;
    background-color: #FF4DA6;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.promo:hover{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:justify;
    background-color:#6A0DAD;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    position:relative;
    transform:translateY(-5px);
    transition: 0.3s;
}


.hero{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.hero img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    display: block;
}


.hero h2{
    color: #5DADE2;
}

.hero p{
    color: black;
    font-size: medium;
}

#productos h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #5DADE2;
    font-size: 28px;
}

.logo img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}
    
.producto, .skincare-item{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.producto img, .skincare-item img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    animation: aparecer 0.8s ease forwards;
    transition: transform 0.3s;
}

.producto img:hover, .skincare-item img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.producto h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #5DADE2;
    font-size: 28px;
    animation: aparecer 0.8s ease forwards;
}
.producto p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: medium;
    animation: aparecer 0.8s ease forwards;
}

.marcas{
    text-align: center;
}

.marcas h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5DADE2;
}

.marca p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.contenedor_marcas{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.marca{
    width: 200px;
}

.marca img{
    width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.marca img:hover{
    transform: scale(1.1);
}

.opiniones h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    color: #E85D9E;
}

.opiniones p{
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    text-align: justify;
}

#skincare h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#5DADE2;
    text-align: center;
}

.portada img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

#skincare h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E85D9E;
    font-size: 30px;
}

 h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#5DADE2;
    text-align:start;
    animation: aparecer 0.8s ease forwards;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align:start;
    animation: aparecer 0.8s ease forwards;
}


#piel h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    color: #E85D9E;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
}

#contacto h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    color: black;
    font-weight: bold;
    background-color:#E3F2FD;
    padding: 10px;
    margin: 0;
    
}

#contacto p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
    background-color:#E3F2FD;
    padding: 10px;
    margin: 0;
}


footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#E3F2FD;
    color:black;
    text-align: start;
    padding: 10px 10px;
}

